**/.ipynb_checkpoints/*
**/.vscode/*
**/__pycache__/*
**/srun_outputs/*
**/checkpoints/*
**/lightning_logs/
**/results/*
**/ssl4eo-s12_100patches/*
*.log
*.png
data/*
.metaflow
metaflow-tutorials
_ignore
build
fao_models/TMP
fao_models/data/
_models/
