**/.ipynb_checkpoints/*
**/.vscode/*
**/__pycache__/*
**/srun_outputs/*
**/checkpoints/*
**/lightning_logs/
**/results/*
**/ssl4eo-s12_100patches/*
*.png
data/*
.metaflow
metaflow-tutorials
_ignore